---
permalink: teams/index.html
layout: page
title: Selected Teams
---

<div class="row">
  <h1>Teams</h1>

  <ul class="winner-list">
    {% for post in site.selected_teams %}
    <li>
      <article class="card">
        {% if post.image %}
        <div class="avatar">
          <img src="{{ post.image }}" alt="" width="100%">
        </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
  
        <div class="prose">{{ post.content }}</div>

        <dl class="metadata">
          <dt>Geographic focus</dt>
          <dd>{{ post.focus }}</dd>
          
          <dt>Areas of expertise</dt>
          <dd>
            <ul class="enum">
              {% for exp in post.expertise %}
              <li>{{ exp }}</li>
              {% endfor %}
            </ul>
          </dd>

          <dt>Organizations</dt>
          <dd>
            <ul class="enum">
              {% for org in post.organizations %}
              <li>{{ org }}</li>
              {% endfor %}
            </ul>
          </dd>

        </dl>

      </article>
    </li>
    {% endfor %}
  </ul>
</div>