$green: #49853E;
$l-blue: #009EDE;
$d-blue: #0071B8;
$grey: #58595B;
$white: #fff;
$black: #000;
$off-white:#f5f3f3;
$d-green: darken($green,20%);

$f-norm:1em;
$f-medium: 1.25em;
$f-large: 2.35em;

$lh-norm:1.65em;
$lh-medium: 2.15em;
$lh-large: 2.95em;

$pad:2em;
$pad-large:15%;

$border:1px solid;
$border-thick:10px solid;

body {
	overflow-x:hidden;
}

h1,h2,h3,a,p,li,footer{
	font:$f-norm 'ITC Franklin Gothic', Arial, sans-serif;
	line-height:$lh-norm;
	color:$grey;
}
h1 {
	font-size:$f-large;
	font-weight:bold;
	letter-spacing:0.05em;
	text-align: center;
	padding:0 $pad;

}
h2 {
	font-size:$f-medium;
	letter-spacing:0.02em;
	word-spacing: 0.1em;
	margin:$pad $pad-large;
}
h3 {
	font-weight:bold;
	text-transform: uppercase;
	font-size:$f-norm;
	text-align: center;
}
p {
	line-height:$lh-norm;
	word-spacing: 0.05em;
}
a {
	letter-spacing:0.02em;
	color:$l-blue!important;
	&:hover {color:$green!important;}
}
.pop {
	* {
		text-align: left;
		color:$white;
		text-shadow:0 0 0.4em rgba($black,0.4);
	}
	em {
		background:$green;
		font-style:normal;
		font-weight:normal;
		text-shadow:none;
	}
}
.row {
	.row {
		margin:$pad $pad-large;
		p {
			margin:$pad 0;
			padding:0;
		}
	}
}
[data-magellan-expedition],
[data-magellan-expedition-clone]{
	z-index:9999; /* overwrite the map attribution */
	background:$off-white;
	padding:$pad/2;
	.sub-nav {
		a {
			font-size:$f-medium;
			font-weight:bold;
		}
		dd.active a {
			background:transparent;
			font-weight: bold;
			color:$green!important;
		}
		&:first-child { /* arrow */
			&:before {
				content:'▼';
				position:absolute;
				margin: -50px 0 0 92px;

			-webkit-animation: flash 6s both infinite;
					animation: flash 6s both infinite;
			}
		}
	}
}
ul {
	margin:0;
	margin-bottom:$pad*2;
	li {
		list-style:none;
		margin:0 $pad-large;
		padding:$pad $pad 0;
		color:$green;
		border-left:	  $border $green;
		border-right:	  $border $green;
		background:$off-white;
		&:first-child {
			background:$green;
			color:$white;
			text-transform: uppercase;
			text-align: center;
			padding:$pad/2 $pad;
		}
		&:last-child {
			border-bottom:$border $green;
			padding-bottom:$pad;
		}
	}
}
.intro,
.map,
.challenge {
	min-height:100vh;
	height:inherit;
}
.region-name { /*leaflet icon*/
	font-size:$f-large;
	line-height:$lh-norm;
	color:$white;
	font-family:'ITC Franklin Gothic';
	text-shadow:0 0 0.4em rgba($black,0.4);
}
.ie-banner {
	position:relative;
	padding:15px 0 8px;
	text-align: center;
	font-weight:bold;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
nav {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	&.wide {
		position:relative;
	}
}
.intro {
	background-size:cover;
	background-image:url(img/flood-bw.jpg);
}
section {
	background:$off-white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQYV2M8eO/kf3slc0YGHACnBEw9DRSgu4kGVqD7FgDdLwgJAa/HoQAAAABJRU5ErkJggg==) repeat;
	&.challenge {
		background:url(img/post-its-bw.jpg);
		background-size: cover;
		h1,h2,p {
			color:$white;
			text-shadow:0 0 0.4em rgba($black,0.4);
		}
	}
}
.absolute {
	position:absolute;
	left:0;
	right:0;
	margin-top:-100vh;
}
.logo {
	text-align:center;
	padding:$pad $pad-large;
}
.icon {
	display:block;
	width:100px;
	height:100px;
	margin:0 auto $pad;
	background-repeat:no-repeat;
	background-size:contain;
	opacity:0.6;
	&.global 		{background-image:url(img/global.png);}
	&.regional 		{background-image:url(img/regional.png);}
	&.local 		{background-image:url(img/local.png);}
	&.explore 		{background-image:url(img/explore.png);}
	&.collaboration {background-image:url(img/collaboration.png);}
	&.solution		{background-image:url(img/solution.png);}
	&.learn			{background-image:url(img/learn.png);}
}
.applies {
	margin:0 $pad-large;
	.apply {
		display:block;
		padding:$pad/2;
		text-align: center;
		background:$green;
		color:$white!important;
		transition: all 300ms ease-out;

		&:hover {
			background:lighten($green,20%);
		}

		&.english {
			border-right:$border white;
		}
	}
	.backhome {
		text-align: center;
	}
}


.mc-embed {
	.columns {
		padding-left:0;
	}
	label {
		padding-right:10px;
		display:inline-block;
		color:$off-white;
	}
	.button {
		margin:21px 0 0 -14px;
		padding:9px;
	}
}

footer {
	font-size:$f-norm*0.8;
	background:$white;
	p {
		margin:0;
	}
	h2 {
		margin-left:0;
	}
	a {
		color:lighten($grey,20%)!important;
	}
	img {
		width:150px;
		padding:$pad;
	}
	.website {
		margin-top:$pad/2;
		background:url(img/logos/devseed.png) no-repeat 92%;
	}
	.email {
		margin-top:$pad/2;
	}
	.twitter-timeline {
		margin-bottom:$pad*2;
	}
	.logos {
		margin-top:8px;
	}
}

.application {
	nav {
		position:absolute;
		top:0;
	}
	section {
		padding-bottom:$pad*2;
	}
	small {
		text-align: center;
	}
}

@media only screen and (max-width: 1072px) {
	nav {
		top:0;
	}
	[data-magellan-expedition],
	[data-magellan-expedition-clone]{
		.sub-nav {
			a {
				font-size:$f-norm;
				font-weight:normal;
			}
		}
	}
	h1 {
		font-size:2em;
	}
	.intro,
	.challenge {
		height:auto;
	}
	.intro {
		padding-top:$pad*2;
	}
}
@media only screen and (max-width: 779px) {
	* {
		font-size:$f-norm * 0.95;
	}
	[data-magellan-expedition],
	[data-magellan-expedition-clone]{
		/*padding:$pad/2 $pad*2;*/
		.sub-nav {
			a, dd.active a {
				text-align: left;
				padding:$pad/2;
				padding-left:$pad;
				display:block;
			}
		}
	}
	h1 {
		font-size:$f-medium;
	}
	h2,
	.row .row,
	.logo {
		padding:$pad/2 0;
	}
	.map {
		height:20em;
	}
	.below-intro {
		.absolute {
			margin-top:-15em;
			h1 {
				p:after {
				content:'The Sahel, Horn of Africa, and South and Southeast Asia.';
				}
			}
		}

	}
	.intro {
		padding-top:$pad*5;
	}

}
