$green: #49853E;
$l-blue: #009EDE;
$d-blue: #0071B8;
$grey: #58595B;
$white: #fff;
$black: #000;
$off-white:#f5f3f3;
$d-green: darken($green,20%);

$f-norm:1em;
$f-medium: 1.25em;
$f-large: 2.5em;

$lh-norm:1.65em;
$lh-medium: 2.15em;
$lh-large: 2.95em;

$pad:2em;
$pad-large:15%;

$border:1px solid;
$border-thick:10px solid;

body {
	overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6,a,p,li,footer
.button {
	font:$f-norm 'ITC Franklin Gothic', Arial, sans-serif;
	line-height:$lh-norm;
	color:$grey;
}
h1 {
	font-size:$f-large;
	font-weight:bold;
	letter-spacing:0.05em;
	text-align: center;
	padding:0 $pad;

	em {
		color:$white;
		font-style:normal;
		background-color:$green;
	}
	&.pop {
		text-align: left;
		color:$white;
		text-shadow:0 0 0.4em rgba($black,0.4);

		em {
			text-shadow:none;
		}
	}
}
h2 {
	font-size:$f-medium;
	letter-spacing:0.02em;
	word-spacing: 0.1em;
	margin:$pad $pad-large;
}
a {
	letter-spacing:0.02em;
	color:$l-blue!important;
	&:hover {color:$green!important;}
}

[data-magellan-expedition],
[data-magellan-expedition-clone]{
	z-index:9999; /* overwrite the map attribution */
	background:$off-white;
	padding:$pad/2;
	.sub-nav {
		a {
			font-size:$f-medium;
			font-weight:bold;		
		}
		dd:first-child a {
			color:$green!important;
		}
	}
}
ul {
	margin:0;
	margin-bottom:$pad*2;
	li {
		font-weight: bold;
		list-style:none;
		margin:0 $pad-large;
		padding:$pad $pad 0;
		color:$green;
		border-left:	  $border $green;
		border-right:	  $border $green;
		background:$off-white;
		&:first-child {
			background:$green;
			color:$white;
			text-transform: uppercase;
			text-align: center;
			padding:$pad/2 $pad;
		}
		&:last-child {
			border-bottom:$border $green;
			padding-bottom:$pad;
		}
	}
}
.intro,
.map {
	height:100vh;
}
.intro {
	background-size:cover;
	background-image:url(img/flood-bw.jpg);
	nav {
		position:absolute;
		left:0;
		right:0;
		bottom:0;
	}
}
.below-intro {
	section {
		background:$off-white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQYV2M8eO/kf3slc0YGHACnBEw9DRSgu4kGVqD7FgDdLwgJAa/HoQAAAABJRU5ErkJggg==) repeat;
	}
}
.absolute {
	position:absolute;
	left:0;
	margin-top:-100vh;
	a {	
		display:block;
		width:30%;
		margin:$pad auto;
		padding:$pad;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		color:$white!important;
		background:$d-blue;
		background:rgba($d-blue,0.75);
		&:hover {
			background:$d-blue;
		}
	}
}
.logo {
	text-align:center;
	padding:$pad $pad-large;
}
.rubik {
	width:100%;
	height:25%;
	text-align:center;
	background:url('img/rubik.png') no-repeat 50%;
	background-size:contain;
	opacity:0.1;
}
.mc-embed {
	margin:$pad $pad-large;
	padding-bottom:$pad*2;
	input {
		float:left;
		height:3em;
		margin:0;
		padding:$pad/2;
		font-size:$f-norm!important;
		border: $border $white!important;
		&[type='email']{
			width:80%;
			box-shadow:none;
			&:hover,&:focus{box-shadow:none;};
		}
		&[type='submit']{
			width:20%;
		}
	}
}
footer {
	font-size:$f-norm*0.8;
	background:$white;
	p {
		margin:0;
	}
	h2 {
		margin-left:0;
	}
	a {
		color:lighten($grey,20%)!important;
	}
	img {
		width:150px;
		padding:$pad;
	}
	.twitter-timeline {
		margin-bottom:$pad*2;
	}
	.logos {
		margin-top:8px;
	}
}