---
---
{% include css/normalize.css %}
{% include css/foundation.css %}
h1,h2,h3,h4,h5,h6,p,li,a {font-family:'Montserrat', sans-serif;}
p.main {
	font-size:.8em; 
	font-family:'Muli', sans-serif; 
	color: #2e3d48;
	margin-top:1rem;
	margin-bottom:3rem;
}
p.captions {
	font-size:.6em; 
	font-family:'Muli', sans-serif; 
	color: #43475a;
}
h1 {font-weight:bold;}
h2 {
	font-size:2.5em; 
	font-weight:bold; 
	color:#60b88d;
	margin-top: 1rem;
  	margin-bottom: 2rem;
	}
h2.intro {
	font-weight:bold; 
	color:#ffffff;
	margin-top: 1rem;
  	margin-bottom: 2rem;
	}
h3 {
	font-family:'Muli', sans-serif; 
	font-weight:normal; 
	color:#eaf4ef;
	margin-top: 1rem;
  	margin-bottom: 1rem;
	}	
h5 {
	font-size:.8em; 
	font-weight: bold; 
	color: #d34d35;
	margin-top: 1rem;
  	margin-bottom: 1rem;
	}

li {
	list-style:none;
	}
.header.fixed {
	padding:20px 20px 0 20px;
	}
.header h1 {
	text-align:center;
	padding:0 20px 20px 20px;
	}
.nav {
	padding:0px 0;
	margin:0;
	border-bottom:6px solid #60b88d;
	}
.nav.fixed {
	position:fixed;
	top:0;
	width:100%;
	background:none;
	z-index:100;
	}
.nav li {
	text-align: center;
	}
.sections {
	position:center;
	top:100px;
	}
.section {
	position:center;
	min-height:30vh;
	padding:100px;
	border-bottom:6px solid #60b88d;
	}
.map {
	height:20vh;
	border-radius: 5px;
	}



.wrapper {
	position:relative; 
	text-align: left;
 	width: 80%; 
	max-width: 1200px;
}