body {
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6, a, p, li, footer
.button {
  font: 1em "ITC Franklin Gothic", Arial, sans-serif;
  line-height: 1.65em;
  color: #58595B; }

h1 {
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 0 2em; }
  h1 em {
    color: #fff;
    font-style: normal;
    background-color: #49853E; }
  h1.pop {
    text-align: left;
    color: #fff;
    text-shadow: 0 0 0.4em rgba(0, 0, 0, 0.4); }
    h1.pop em {
      text-shadow: none; }

h2 {
  font-size: 1.25em;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  margin: 2em 15%; }

a {
  letter-spacing: 0.02em;
  color: #009EDE !important; }
  a:hover {
    color: #49853E !important; }

[data-magellan-expedition],
[data-magellan-expedition-clone] {
  z-index: 9999;
  /* overwrite the map attribution */
  background: #f5f3f3;
  padding: 1em; }
  [data-magellan-expedition] .sub-nav a,
  [data-magellan-expedition-clone] .sub-nav a {
    font-size: 1.25em;
    font-weight: bold; }
  [data-magellan-expedition] .sub-nav dd:first-child a,
  [data-magellan-expedition-clone] .sub-nav dd:first-child a {
    color: #49853E !important; }

ul {
  margin: 0;
  margin-bottom: 4em; }
  ul li {
    font-weight: bold;
    list-style: none;
    margin: 0 15%;
    padding: 2em 2em 0;
    color: #49853E;
    border-left: 1px solid #49853E;
    border-right: 1px solid #49853E;
    background: #f5f3f3; }
    ul li:first-child {
      background: #49853E;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      padding: 1em 2em; }
    ul li:last-child {
      border-bottom: 1px solid #49853E;
      padding-bottom: 2em; }

.intro,
.map {
  height: 100vh; }

.intro {
  background-size: cover;
  background-image: url(img/flood-bw.jpg); }
  .intro nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; }

.below-intro section {
  background: #f5f3f3 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQYV2M8eO/kf3slc0YGHACnBEw9DRSgu4kGVqD7FgDdLwgJAa/HoQAAAABJRU5ErkJggg==) repeat; }

.absolute {
  position: absolute;
  left: 0;
  margin-top: -100vh; }
  .absolute a {
    display: block;
    width: 30%;
    margin: 2em auto;
    padding: 2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff !important;
    background: #0071B8;
    background: rgba(0, 113, 184, 0.75); }
    .absolute a:hover {
      background: #0071B8; }

.logo {
  text-align: center;
  padding: 2em 15%; }

.rubik {
  width: 100%;
  height: 25%;
  text-align: center;
  background: url("img/rubik.png") no-repeat 50%;
  background-size: contain;
  opacity: 0.1; }

.mc-embed {
  margin: 2em 15%;
  padding-bottom: 4em; }
  .mc-embed input {
    float: left;
    height: 3em;
    margin: 0;
    padding: 1em;
    font-size: 1em !important;
    border: 1px solid #fff !important; }
    .mc-embed input[type='email'] {
      width: 80%;
      box-shadow: none; }
      .mc-embed input[type='email']:hover, .mc-embed input[type='email']:focus {
        box-shadow: none; }
    .mc-embed input[type='submit'] {
      width: 20%; }

footer {
  font-size: 0.8em;
  background: #fff; }
  footer p {
    margin: 0; }
  footer h2 {
    margin-left: 0; }
  footer a {
    color: #8b8c8e !important; }
  footer img {
    width: 150px;
    padding: 2em; }
  footer .twitter-timeline {
    margin-bottom: 4em; }
  footer .logos {
    margin-top: 8px; }

/*# sourceMappingURL=output.css.map */
