---
permalink: approach/index.html
layout: page
title: Rethinking the approach
---
{% assign sections = site.index_sections %}

  {% for post in sections %}
    {% if post.tags contains 'challenge' %}
    
    {% else %}
    <section class='clearfix {{post.class}} index-post'>
    
    {% if post.tags contains 'logo'%}

    <div class='row'>
      <div class="medium-12 columns">
      <div class='logo'>
      <img src='{{site.baseurl}}/img/logos/grp-color-tagline.png'></div>
      </div>
    </div>
    
    {% endif %} 
    
    
    {% if post.tags contains 'map'%}

    <div class='map' id='map'></div>
    
    {% endif %}

    <div class="row">
      <div class="medium-12 columns">
      {% if post.tags contains 'map' %}

      <div class='map-intro'>
        <h1 class='pop'>{{post.content}}</h1>
      </div>{% else %} {{post.content}} 
      {% endif %}
      </div>
    </div>
    

    
  </section>
  
   {% endif %}
  
  {% endfor %}

  <div></div>
