---
permalink: aboutus/index.html
layout: page
title: Rethinking the approach
---
<section class="carousel">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <img src="{{site.baseurl}}/img/sliders/3.jpg" />
        <div class="content">
          <h1>About Us</h1>
          <p>We face a new reality: disasters and shocks are occurring more frequently and chronic stresses are lasting longer. Our future will be defined by three drivers: increasing complexity; where societies and ecosystems become more intertwined, global interconnectivity, and surprise. Stability and assumptions of linear, incremental change are history. Shock and stress – from rapid climate change, growing urbanization, to pandemics and conflict are here to stay. Protracted crises have become the new norm. And the most vulnerable are hit hardest.</p>
          <span class="arrow"></span>
        </div>
      </li>
    </ul>
  </div>
</section>
{% assign sections = site.index_sections %}

  {% for post in sections %}
    {% if post.tags contains 'challenge' or post.categories contains 'intro'  %}

    {% else %}
    <section class='clearfix {{post.class}} index-post firstSection'>

    <div class="row">
      <div class="medium-12 columns">
      {{post.content}}
      </div>
    </div>



  </section>

   {% endif %}

  {% endfor %}
<section class='clearfix {{post.class}} index-post firstSection'>
  <div class="row">
      <h3>Governance structure:</h3>
      <p>
        <b>GRP Partnership Council</b> – Consists of organisations active in resilience who agree to work together to
        help achieve GRP’s objectives. The Partnership Council advises on GRP’s strategic direction with the
        ambition of building resilience from global to local, through the Partnership. Members include: The
        World Bank, The Global Environment Facility, USAID, DFID, Sida, Zurich Insurance, Global Centre of
        Excellence on Climate Adaptation, Stockholm Resilience Centre, and others.
      </p>
      <p>
        <b>GRP Steering Committee (Donor Group)</b> – Consists currently of representatives from the present donor
        organizations, USAID, Sida, DFID, and Zurich Insurance Group. The Steering Committee will be updated
        in March 2018 during the Partnership Council meeting, when a revised governance structure for GRP will
        be decided on.
      </p>
      <h3>Who we are:</h3>
      <p>
        <b>Olof Olsson, <i>Acting Director</i>, </b> <a href="mailto:olof.olsson@su.se">olof.olsson@su.se</a>
      </p>
      <p>
        Olof oversees the activities of the GRP and acts as the key bridge between GRP and the SRC. He is also
        the Managing Director of the SRC for the past nine years. He is member of SRC’s leadership team and
        oversees strategic planning and the daily operations of the centre. Olof’s research interests are mainly in
        marine systems and he holds a PhD in population ecology from Uppsala University (1995).
      </p>
      <p>
        <b>Nathanial (Nate) Matthews, <i>Program Director</i>, </b><a href="mailto:nmatthews@globalresiliencepartnership.org">nmatthews@globalresiliencepartnership.org</a>
      </p>
      <p>
        Nate leads the technical element of GRP’s offering. He provides oversight and leadership into GRP’s
        Challenge competitions and projects and oversees the technical work streams including: Markets and
        Innovative Financing, Technology and Infrastructure and Policy. Previously, he was Global Research
        Coordinator at the CGIAR Research Program on Water, Land and Ecosystems and held various positions
        in the water sector and private sector. He has also been an advisor and consultant to a wide range of
        organizations, including McKinsey and Company, UNEP, UNDP, WB, UNESCO, WWF, SIWI and Oxfam.
        Nate holds a PhD in Geography from King’s College London. He is also Senior Visiting Fellow at King&#39;s
        College London, a Visiting Fellow at the University of East Anglia Water Security Centre and a Fellow of
        the Royal Geographic Society.<br><br>
          Twitter: @Nate_Matthews<br><br>
          LinkedIn: <a href="http://www.linkedin.com/in/nathanial-matthews" target="_blank">www.linkedin.com/in/nathanial-matthews</a>
      </p>

      <p>
        <b>David Howlett, <i>Head of Policy</i>, </b> <a href="mailto:dhowlett@globalresiliencepartnership.org">dhowlett@globalresiliencepartnership.org</a>
      </p>
      <p>
        David leads GRP’s work on policy and investment into resilience. He has over thirty-five years’
        experience in development in Africa, Asia and the Pacific. He has worked for national governments and
        international organisations including the United Kingdom’s Department for International Development
        (DFID). At DFID he led on climate resilient agriculture managing DFID’s support to IFAD’s Adaptation for
        Smallholder Agriculture Programme and where he designed and the Building Resilience and Adaptation
        to Climate Extreme Disasters (BRACED) programme. David has an academic background in chemistry,
        soil sciences, agriculture and environmental management.
      </p>
      <p>
       <b>Simone Verkaart, <i>Monitoring and Evlauation (M&amp;E) Manager,</i></b> <a href="mailto:sverkaart@globalresiliencepartnership.org">sverkaart@globalresiliencepartnership.org</a>
      </p>
      <p>
        Simone Verkaart works to design, operationalize and implement an M&amp;E system for the Challenges and
        leading on GRP’s Measurement and Diagnostics work. Previously, she worked as an Associate Expert
        Technology Transfer at the International Crops Research Institute for the Semi-Arid Tropics (ICRISAT) in
        Nairobi, Kenya. Prior to joining ICRISAT, Simone worked with the evaluation department of the
        Netherlands Ministry of Foreign Affairs, where she evaluated Dutch support to Basic Education and to
        the World Bank Group. She is finalizing a PhD at Wageningen University in Development Economics and
        has an MSc in Development Studies, BSc in Cultural Anthropology and BSc in Business Studies.
      </p>
      <p>
        <b>Ida Gabrielsson, <i>Communications Assistant</i>, </b> <a href="mailto:igabrielsson@globalresiliencepartnerhsip.org">igabrielsson@globalresiliencepartnerhsip.org</a>
      </p>
      <p>
        Ida works with both internal and external communication for GRP. She updates the website and assists
        with coordinating events. Ida previously worked as a communications and impact officer on the
        Ecosystem Services for Poverty Alleviation (ESPA) funded project: Sustainable Poverty Alleviation from
        Coastal Ecosystem Services. She holds a MSc in Environmental Communication from the Swedish
        University of Agricultural Sciences (SLU) and a BA in International Affairs from The George Washington
        University (GW).
      </p>
      <h3>Vacancies:</h3>
      <h3>Senior Program Coordinator for Knowledge and Networks to the Global Resilience Partnership</h3>
      <p>
          The Global Resilience Partnership is currently seeking an individual for the position of Senior Program Coordinator for Knowledge and Networks. Headquartered at the Stockholm Resilience Centre (SRC) at Stockholm University the person will coordinate resilience knowledge across GRP partners and manage the GRP network. External liaison will focus on both reaching out and responding to partners and key stakeholders' requests for knowledge and ensuring that partners are engaged in an effective and beneficial manner. Main requirements include extensive and relevant international experience in working in a coordination and engagement role, in or with developing countries. Good knowledge of sustainable development in a global south perspective in general and in particular on issues relevant for social and ecological resilience is also required.
          <br><br><b>Application deadline 11 March 2018</b>. <a href="https://www.su.se/english/about/working-at-su/jobs?rmpage=job&rmjob=4858&rmlang=UK" target="_blank">Read more and apply here.</a>
      </p>
      <h3>Senior Program Coordinator for Policy to the Global Resilience Partnership</h3>
      <p>
          GRP is also seeking an individual for the position of Senior Program Coordinator for Policy. The successful candidate will be responsible for supporting GRP’s partners in resilience policy and programming in developing countries, and informing regional and international policies to increase their focus on resilience. Main requirements include excellent ability and experience in convening events on development and humanitarian policy and practice, and track record of successfully working with wide range of public and private sector organisations. Proven knowledge of national and international agenda including on the SDGs, especially resilience, climate and UNFCCC is also required.
          <br><br><b>Application deadline is 11 March 2018</b>. <a href="https://www.su.se/english/about/working-at-su/jobs?rmpage=job&rmjob=4853&rmlang=UK">Read more and apply here</a>.
      </p>

  </div>
</section>
<div></div>