---
layout: page
---
<div class="post row">
  <div class="content">
    
    <ul class="social">
      <li><a class="twitter" href="https://twitter.com/share?url={{ site.baseurl }}{{ page.url }}"><span class="visually-hidden">Twitter</span></a></li>
      <li><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ page.url }}"><span class="visually-hidden">Facebook</span></a></li>
      <li><a class="google" href="https://plus.google.com/share?url={{ site.baseurl }}{{ page.url }}"><span class="visually-hidden">google</span></a></li>
    </ul>

    <h1>{{ page.title }}</h1>
 	  <h2>{{ page.subtitle }}</h2>
 	 <time class="date" datetime="{{ page.date | date: '%d/%m/%Y' }}" pubdate>{{ page.date | date: '%e %B %Y' }}</time>
    	{{ content }}
  	</div>
</div>