---
---
<!DOCTYPE html >
<html>
<head>
	<title>Zurich Water Window Global Resilience Partnership</title>
	<meta name="description" content="Convened by the Rockefeller Foundation, USAID, and Sida the Global Resilience Partnership is building systemic approaches to addressing climate and population change.">
	<meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

    {% include social.html %}

	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.0/mapbox.css' rel='stylesheet' />
	<script src="{{site.baseurl}}/assets/scripts/modernizr.js"></script>
	<script src="{{site.baseurl}}/assets/scripts/iframeResizer.min.js"></script>
	<link href='{{site.baseurl}}/assets/styles/style.css' rel='stylesheet'/>
    <!--[if lt IE 10]>
	<link href='{{site.baseurl}}/assets/styles/style-ie9.css' rel='stylesheet'/>
	<![endif]-->
	<link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="{{site.baseurl}}/img/favicon.ico" type="image/x-icon">
</head>
<body style='margin:0;padding:0;overflow:hidden;'>

	{{content}}
	
	<script src="http://d3js.org/topojson.v1.min.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.0/mapbox.js'></script>
	<script src='{{site.baseurl}}/assets/scripts/site.js'></script>

	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-55784219-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

	<!-- Second GA account -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-88478-45']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</body>
</html>
