---
layout: page
---
<div class="post row">
  <div class="teamHeader">
    
		<img src="{{ site.baseurl}}/img/{{ page.image }}" alt="">
		
		<article>
			<h4>{{ page.title }}</h4>
 			<!-- <h2>{{ page.innovation }}</h2> -->
		</article>
    
 	
 	 </div>
 	</div> 
 	
 	{% if content %}
 	 <div class="post row">
     
    	<p>{{ content }}</p>
    	
    </div>
    {% endif %}
 	
	<div class="row post team-meta">

	  <div class="content">
	  
	    <div class="row">
		<div class="medium-4 columns">
		  <h3>Region</h3>
		  <p>{{ page.focus }}</p>
		</div>

		<div class="medium-4 columns">
		  <h3>Countries</h3>
		  {% for country in page.countries %}
		  <ul>
		  <li>{{ country }}</li>
		  {% endfor %}
		  </ul>
		</div>
		
		<div class="medium-4 columns">
		  <h3>Team Lead</h3>
		  <p>{{ page.team_lead }}</p>
		</div>

		</div>

		<div class="row">
		
		<div class="medium-4 columns">
		  <h3>Lead Organization</h3>
		  <ul>
		  {% for organization in page.organizations %}
		    <li>{{ organization }}</li>
		  {% endfor %}
		  </ul>
		</div>	
	

		<div class="medium-4 columns">
		  <h3>Local Partners</h3>
		  <ul>
		  {% for local_org in page.local_org %}
		    <li>{{ local_org }}</li>
		  {% endfor %}
		  </ul>
		</div>

		<div class="medium-4 columns">
		  <h3>International Partners</h3>
		  <ul>
		  {% for intl_org in page.intl_org %}
		    <li>{{ intl_org }}</li>
		  {% endfor %}
		  </ul>
		</div>

		<div class="medium-4 columns">
		</div>
		
	  </div>
	</div>
 	 

   
  	</div>
</div>