.hero {
  padding: 100px 0;
  background: #ccc;
  border-bottom: 2px solid #fff;
  background-size: cover;
  h1 {
    color: #fff;
    margin-bottom: 10px;
  }
  h2 {
   color: #fff;
   margin-bottom: 30px;
   padding-top: 0px;
  }
  p {
    color: #eee;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
  }
}

.map,
.intro {
  height: 100%;
}
.map-intro {
  margin-top: -640px;
  position: absolute;
}

.section-intro {
  background: url("../../img/sunset-desat.png") center center;
  background-size: cover;
}
.section-data {
  background: url("../../img/sunset-desat.png") center center;
  background-size: cover;
}
.section-challenge {
  background: url("../../img/harvest-desat.png") center center;
  background-size: cover;
}
.section-blog {
  background: url("../../img/garden-desat.png") center center;
  background-size: cover;
}

