.contain-to-grid .top-bar {
  background: #fff;
}
.contain-to-grid {
  background: #fff;
  box-shadow: 0 1px 12px -3px rgba(0, 0, 0, 0.3);
}
.top-bar {
 height: 85px;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  background: #fff;
  font-weight: bold;
  font-size: 16px;
  color: #009ede;
  line-height: 85px !important;
  height: 85px !important;
}
.top-bar-section li:hover:not(.has-form) a:not(.button) {
  background: #f2f2f2;
  color: #009ede;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #f2f2f2;
  color: #009ede;
}
.top-bar .name {
  height: 66px;
}
.top-bar .name h1 {
  margin: 0;
  padding: 0;
}
.top-bar .name h1 a  {
  text-indent: -9999px;
  background-image:url(../../img/logos/grp-wordmark.png);
  width: 138px;
  height: 66px;
  margin: 10px 0 0 10px;
}
.top-bar .name h1 a:hover {
  opacity: 0.7;
}
.top-bar.expanded .title-area {
  background: #fff;
}
.top-bar .toggle-topbar.menu-icon a {
  color: #009ede;
}
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
  .top-bar .name h1 a  {
  background-image:url(../../img/logos/grp-wordmark-x2.png);
  background-size: 138px auto;
  } 
}
@media only screen and (max-width: 600px) {
 .top-bar-section li:not(.has-form) a:not(.button) {
    background: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 1 !important;
    height: 45px !important;
  }

  .top-bar-section {
    .headerSocial {
      padding:0 20px;
      margin-right: 10px;
    }
    .twitter {
      background: #fff url(../../img/header/social_links2.png) center 0px no-repeat !important;
    }
    .twitter:hover {
      background: #fff url(../../img/header/social_links_hover2.png) center 0px no-repeat !important;
    }
    .news {
      background: #fff url(../../img/header/social_links2.png) center -171px no-repeat !important;
    }
    .news:hover {
      background: #fff url(../../img/header/social_links_hover2.png) center -171px no-repeat !important;
    }
    .instagram {
      background: #fff url(../../img/header/social_links2.png) center -85px no-repeat !important;
    }
    .instagram:hover {
      background: #fff url(../../img/header/social_links_hover2.png) center -85px no-repeat !important;
    }
  }
}