.team-map {
  height: 300px;
  background: #444 url("https://cloud.githubusercontent.com/assets/306782/6161676/5a11f1c2-b242-11e4-9a60-c3d8e5c81d8a.png") no-repeat center center;
  margin-bottom: -40px;
  margin-top: -40px;
}
.post .content h2 {
  font-style: italic;
  font-family: "Georgia", serif;
  color: #46863c;
  margin: 0px;
}
.row .content {
  position: relative;
}
.team-meta .row {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px; 
}

.team-image {
  height: 7rem;
  margin-bottom: -2.5rem;
  margin-top: -2.5rem;
  position: relative;
  background: #000;
  
  .mask {
    opacity: 1;
  }
  
}
.mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 60%;
  height: 100%;
}
.triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 50px solid #009EDE;
	border-left: 50px solid transparent;
	position:absolute;
	bottom:0;
	right:0;
	z-index:1;
	transition: all 1s ease;
}
.team-title{
	position:absolute;
	width:40%;
	right:0;
	height:100%;
	top:0;
	padding:1em;
}
.team-title:hover .triangle-bottomright{
	width:100%;
	height:100%;
	border-bottom:none;
	border-left:none;
	background:#009EDE;
}
.team-title h3{
	position:relative;
	z-index:2;
}